body{
  
}




.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid blue;
    font-size: 3em;

}

.container{
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(3,150px);
    grid-template-rows:repeat(3,150px);
    
    justify-content: center;
   
    align-content: center;
}