body{
  
}




.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid blue;
    font-size: 3em;

}

.container{
    display: grid;
    grid-gap: 40px 5px;
    grid-template-columns: repeat(3,150px);
    grid-template-rows:repeat(3,150px);
    
    height: 98vh;
}
#box1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

#box2 {
  grid-row-start: 2;
  grid-row-end: 6;
}

#box3 {
  grid-column: 2 / 4;
  grid-row: 2 / 6;
}
